<%= form_with(model: [@resume, @fieldchoice]) do |f|%>
<%= hidden_field_tag :resume_id, params[:resume_id] %>
<div class="field">
  <p>Select your carrier field<p>
      <%= f.label :main_field %><br />
      <%= f.select :main_field, Fieldchoice::MAIN_FIELD %>
</div>

<div class="field">
  <p>Sub-functional Area (what is your job) </p>
  <%= f.label :sub_field %><br />
  <%= f.select :sub_field, Fieldchoice::SUB_FIELD %>
</div>

<div class="field">
  <%= f.label :exp_year %><br />
  <%= f.select :exp_year,options_for_select((0..30).map {|i| "#{i}" }) %>
</div>
<div class="field">
  <%= f.label :exp_month %><br />
  <%= f.select :exp_month, options_for_select((0..12).map {|i| "#{i}" }) %>
</div>

<div class="actions">
  <%= f.submit "Submit" %>
</div>
<% end %>