<%= form_with(model: [@resume, @experience]) do |f| %>
<%= hidden_field_tag :resume_id, params[:resume_id] %>

<div class="field">
<%= f.label :exp_type %> 
<%= f.select(:exp_type, Experience::EXPTYPE) %>
</div>

<div class="field">
<%= f.label :name %> 
<%= f.text_field :name, autofocus:true, autocomplete: "name" %>
</div>

<div class="field">
<%= f.label :start_date %> 
<%= f.date_field :start_date, autofocus:true, autocomplete: "start_date" %>
</div>

<div class="field">
<%= f.label :end_date %> 
<%= f.date_field :end_date, autofocus:true, autocomplete: "end_date" %>
</div>

<div class="field">
  <%= f.label :county %><br />
  <%= f.select :country,  options_for_select(CS.countries.map { |c| [c[1], c[0]] } ) %>
</div>

<div class="field">
  <%= f.label :state %><br />
  <%= f.select :state, options_for_select([])%>
</div>

<div class="field">
  <%= f.label :city %><br />
  <%= f.select :city, options_for_select([]) %>
</div>

<div class="field">
<%= f.label :info %> 
<%= f.text_area :info, autofocus:true, autocomplete: "info" %>
</div>

<div class="actions">
  <%= f.submit "Submit" %>
</div>
<% end %>