<%= form_with(model: [@resume, @resumeuser])do |f|%>
<%= hidden_field_tag :resume_id, params[:resume_id] %>

<div class="field">
  <%= f.label :prefix %><br />
  <%= f.select(:prefix, Resumeuser::PREFIX_LIST) %>
</div>

<div class="field">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
</div>
<div class="field">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
</div>

<div class="field">
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

<div class="field">
  <%= f.label :mobile %><br />
  <%= f.text_field :mobile, autofocus: true, autocomplete: "mobile" %>
</div>

<div class="field">
  <%= f.label :website %><br />
  <%= f.text_field :website, autofocus: true, autocomplete: "website"%>
</div>

<div class="field">
  <%= f.label :linkedin %><br />
  <%= f.text_field :linkedin, autofocus: true, autocomplete: "linkedin"%>
</div>

<div class="field">
  <%= f.label :birthdate %><br />
  <%= f.date_field :birthdate, autofocus: true, autocomplete: "birthdate" %>
</div>

<div class="actions">
  <%= f.submit "Sign up" %>
</div>
<%end%>