<div class="btn btn-info">
  <%= link_to "create new ", new_resume_resumeuser_path, :class => "btn" %>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Prefix</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Website</th>
      <th>Linked-in</th>
      <th>Birthdate</th>
    </tr>
  </thead>
  <% @resumeusers.each do |resumeuser| %>
  <tr>
    <td><%= resumeuser.prefix%></td>
    <td><%= resumeuser.first_name %></td>
    <td><%= resumeuser.last_name %></td>
    <td><%= resumeuser.email %></td>
    <td><%= resumeuser.mobile%></td>
    <td><%= resumeuser.website %></td>
    <td><%= resumeuser.linkedin %></td>
    <td><%= resumeuser.birthdate %></td>
    <td><%= link_to "show", resume_resumeuser_path(:id=> resumeuser.id) %></td>
    <td><%= link_to "edit", edit_resume_resumeuser_path(:id => resumeuser.id) %></td>
    <td>
      <%= link_to "delete", resume_resumeuser_path(:id => resumeuser.id), method: :delete, data: {confirm:"Are you sure?"}%>
    </td>
    <% end %>
  </tr>
</table>