<%= form_with(model: [@resume, @address]) do |f|%>
<%= hidden_field_tag :resume_id, params[:resume_id] %>

<div class="field">
<%= f.label :address1 %><br />
<%= f.text_field :address1, autofocus: true, autocomplete: "address1" %>
</div>

<div class="field">
  <%= f.label :address2 %><br />
  <%= f.text_field :address2, autofocus: true, autocomplete: "address2" %>
</div>

<div class="field">
  <%= f.label :county %><br />
  <%= f.select :country,  options_for_select(CS.countries.map { |c| [c[1], c[0]] } ) %>
</div>
<div class="field">
  <%= f.label :state %><br />
  <%= f.select :state, options_for_select([])%>
</div>

<div class="field">
  <%= f.label :city %><br />
  <%= f.select :city, options_for_select([]) %>
</div>

<div class="field">
  <%= f.label :pincode %><br />
  <%= f.text_field :pincode, autofocus: true, autocomplete: "pincode"%>
</div>

<div class="actions">
  <%= f.submit "Submit" %>
</div>
<% end %>