<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Address1</th>
      <th>Address2</th>
      <th>Country</th>
      <th>State</th>
      <th>City</th>
      <th>Pincode</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% @addresses.each do |address| %>
  <tr>
    <td><%= address.address1%></td>
    <td><%= address.address2%></td>
    <td><%= CS.countries[address.country.to_sym] %></td>
    <td><%= CS.states(address.country.to_sym)[address.state.to_sym] %></td>
    <td><%= address.city%></td>
    <td><%= address.pincode%></td>
    <td><%= link_to "show", resume_address_path(:id => address.id) %></td>
    <td><%= link_to "edit", edit_resume_address_path(:id => address.id) %></td>
    <td><%= link_to "delete", resume_address_path(:id => address.id), method: :delete, data: {confirm:"Are you sure?"}%>
    </td>
    <% end %>
  </tr>
</table>
<div class="btn btn-info">
  <%= link_to "create new ", new_resume_address_path, :class => "btn" %>
</div>