<nav class="navbar navbar-expand-lg navbar-light  bg-light ">
  <% if user_signed_in?%>
  <% if current_user.has_role? :admin %>
  <a class="navbar-brand"><%=  link_to "Digital Profile", admins_path, class: "navbar-brand"%></a>
  <% else %>
  <a class="navbar-brand"><%=  link_to "Digital Profile", root_path, class: "navbar-brand"%></a>
  <%end%>
  <%end%>
  <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
      <% if current_user.has_role? :admin %>
      <li class=nav-item><%=  link_to "Home", admins_path, class: "active"%></li>
      <% else %>
      <li class=nav-item ><%=  link_to "Home", root_path, class: "active"%></li>
      <% end %>
      <% end %>
      <% if user_signed_in?%>
      <li class=nav-item><%= link_to "Account", edit_user_registration_path, class: "active"%> </li>
      <li class=nav-item><%= link_to "Resume",  resumes_path  , class: "active"%></li>
      <li class=nav-item><span class="fa fa-sign-out"></span>
        <%= link_to "sign out", destroy_user_session_path , method: :delete %></li>
      <%else%>
      <li class=nav-item><%= link_to "Sign Up", new_user_registration_path,class: "active" %></li>
      <li class=nav-item><%= link_to "Sign In", new_user_session_path,class: "active" %></li>
      <%end%>
    </ul>
  </div>
</nav>